{{#partial "content"}}
    {{#if sites}}
        <h3 class="index-title">Employees</h3>
        <div class="table-div">
            <p><span style="color: grey;">Select employee ID to see more details</span></p>
            <table class="table table-hover table-responsive table-sm">
                <thead class="table-info text-center">
                <tr>
                    <th scope="col">Staff ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody class="table-group-divider bg-light">
                {{#each sites }}
                    <tr class="text-center">
                        <th scope="row"><a href="/employees/{{id}}/{{position_id}}/{{department_id}}">{{staff_id}}</a></th>
                        <td>{{first_name}}</td>
                        <td>{{last_name}}</td>
                        <td>{{phone_no}}</td>
                        <td>{{email}}</td>
                        <td>{{role}}</td>
                        <td><a href="/employees/{{id}}/edit"><i class="bi bi-pencil-square"></i></a></td>
                        <td><a href="" data-bs-toggle="modal" data-bs-target="#staticDeleteEmployee"><i class="bi bi-trash3"></i></a></td>
                        <!-- Delete Employee modal -->
                        <div class="modal fade" id="staticDeleteEmployee" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Delete Employee</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <i class="bi bi-shield-fill-exclamation text-danger"></i>
                                        Confirm you are about to delete the Employee!!
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger btn-sm" onclick="window.location.href='/employees/{{id}}/delete';">Delete</button>
                                        <button type="button" class="btn btn-success btn-sm" data-bs-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </tr>
                {{/each}}
                <tr>
                    <td colspan="8">Delete All Employees  <a href="" data-bs-toggle="modal" data-bs-target="#staticDeleteAllEmployees"><i class="bi bi-trash-fill"></i></a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Delete All Employee modal -->
        <div class="modal fade" id="staticDeleteAllEmployees" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Delete All Employees</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <i class="bi bi-shield-fill-exclamation text-danger"></i>
                        Confirm you are about to delete All Employee!!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-sm" onclick="window.location.href='/employees/delete/all';">Delete</button>
                        <button type="button" class="btn btn-success btn-sm" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

    {{else}}
        <div class="mt-3">
        <p class="text-center text-danger mb-1">No Current Entries Available!</p>
        <p class="text-center text-muted ">Add Engineers and Sites from the tabs above.</p>
        </div>
        <div class="row">
            <div class="card col-md-3 mb-3 ms-2 me-2" style="max-width: 20rem; padding: 0">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                    <a href="#" class="card-link" style="float: right;">Another link</a>
                </div>
            </div>
            <div class="card col-md-3 mb-3 ms-2 me-2" style="max-width: 20rem;">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
            <div class="card col-md-3 mb-3 ms-2 me-2" style="max-width: 20rem;">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
            <div class="card col-md-3 mb-3 ms-2 me-2" style="max-width: 20rem;">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.ljljzjjzlkjkgjzklgjkjgkjzkgjkzjgkjzkgjklzjglkzjgjzlgj</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
            <div class="card col-md-3 mb-3 ms-2 me-2" style="max-width: 20rem;">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.ljljzjjzlkjkgjzklgjkjgkjzkgjkzjgkjzkgjklzjglkzjgjzlgj</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>
    {{/if}}
{{/partial}}

{{> layout.hbs}}